body {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  color: #181818;
}

@media screen and (min-width: 600px) {
  .childContainer {
    margin: 50px 150px;
  }
}

@media screen and (max-width: 600px) {
  .childContainer {
    margin: 20px 20px;
  }
}
