body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.childContainer {
  margin: 50px;
}

@media screen and (min-width: 600px) {
  .childContainer {
    margin: 50px 150px;
  }
}

@media screen and (max-width: 600px) {
  .childContainer {
    margin: 20px 20px;
  }
}
